<p id="notice"><%= notice %></p>

<h1>Yasais</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yasais.each do |yasai| %>
      <tr>
        <td><%= yasai.name %></td>
        <td><%= yasai.quantity %></td>
        <td><%= link_to 'Show', yasai %></td>
        <td><%= link_to 'Edit', edit_yasai_path(yasai) %></td>
        <td><%= link_to 'Destroy', yasai, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yasai', new_yasai_path %>
